.home {
  padding: 20px;
  background-color: var(--mantine-color-blue-light);
  color: white;
  align-items: center;
}

.title {
  padding: 25px;
  border-left: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
}

.paragraphBox {
  border-radius: 8px;
  box-shadow: 2rem;
  row-gap: 2rem;
  color: black;
  align-items: center;
  margin-bottom: 8px; /* Adjust the value as needed */
}

.paragraph {
  margin-bottom: 15px;
  max-width: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
}
.limitedWidth {
  max-width: 480px;
  justify-content: center;
  align-items: center;
  display: fixed;
}
.checkbox {
  gap: 3px;
  align-items: center;
  padding: 0.2em;
}
.profile {
  margin-bottom: 16px; /* Adjust the value as needed */
}

.terms {
  vertical-align: middle;
  padding-left: 64px; /* Adjust the value as needed */
  padding-right: 64px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.titlebox {
  vertical-align: middle;
  padding-left: 64px; /* Adjust the value as needed */
  padding-right: 64px;
  padding-top: 8px;
  padding-bottom: 8px;
}
